* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 16px 200px 100px;
  justify-content: center;

  background-color: #1f2937;
}

.header-top,
.header-bottom,
ul {
  display: flex;
}
.header-top,
.header-bottom {
  justify-content: space-between;
}
ul {
  list-style: none;
  gap: 32px;
}

.header-top {

  font-size: 24px;
  color: #f9faf8;
  margin-bottom: 100px;
}

.header-bottom {
  align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    justify-content: center;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-text,
a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

button {
  background-color: #3882f6;
  width: 120px;
  height: 40px;

  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #f9faf8;


}

.sign-head {
    border: 0;
    
}


.content {
    padding: 50px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.cards {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}


.card-text {
    width: 200px;
    font-size: 18px;
    color: grey;
    text-align: center;

}

img {
    border-radius: 15px;
}
.cards img {
  border: 3px solid #3882f6;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px 300px;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote footer {
  text-align: end;
  font-style: normal;
  font-weight: 800;
}

.sign-up {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 100px 200px;
  padding: 50px 50px;

  border-radius: 10px;
}

.text {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.call {
  font-size: 24px;
  font-weight: 900;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}